[user]
	name = Aaron Sky
	email = aaronsky@skyaaron.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
